/* src/App.css */

/* Import the Stencils font */
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Expanded&display=swap');

body {
  margin: 0;
  font-family: 'Stint Ultra Expanded', sans-serif; /* Apply Stencils font */
  overflow: hidden; /* Prevent default body margin and ensure full-screen effect */
}

.container {
  background-color: #333; /* Dark metallic grey background color */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 1.5s ease-in-out; /* Cool fadeIn animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  text-align: center;
  color: #fff; /* White text color */
  width: 100%;
}

/* Adjustments for the content */
.content {
  width: 100%; /* Stretch content to 100% */
}

/* Styling for the button */
button {
  background-color: #000; /* Black background color */
  color: #fff; /* White text color */
  border: none;
  padding: 10px 20px;
  border-radius: 30%; /* Border radius 30% */
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #555; /* Darker color on hover */
}
